-
  const grayscales = [
    ['black', true],
    ['gray-12', true],
    ['gray-11', true],
    ['gray-10', true],
    ['gray-9', true],
    ['gray-8', true],
    ['gray-7', true],
    ['gray-6', false],
    ['gray-5', false],
    ['gray-4', false],
    ['gray-3', false],
    ['gray-2', false],
    ['gray-1', false],
    ['white', false],
  ];

  const colors = [
    ['red', true],
    ['vermilion', true],
    ['orange', false],
    ['yellow', false],
    ['lime', false],
    ['green', false],
    ['teal', false],
    ['cyan', false],
    ['skyblue', false],
    ['blue', true],
    ['indigo', true],
    ['purple', true],
    ['magenta', false],
    ['pink', false],
  ];

  const classes = [
    ['dark', true],
    ['light', false],
    ['disabled', false],
    ['divider', false],
    ['primary', false],
    ['success', false],
    ['info', false],
    ['danger', false],
    ['warn', false],
  ];

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet' href='/css/xeltica-ui.min.css')
    style.
      .xd-container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 18rem 1fr;
      }
      .xd-footer {
        border-top: 1px solid var(--tone-3);
        padding: 1rem;
        margin-top: 2rem;
      }
      #daylight {
        background: transparent;
        font-size: 1rem;
        color: inherit;
        border: none;
        width: 100%;
        text-align: left;
      }
    block head
    block title
      title Xeltica UI

  body._container
    header.xd-header
      h1: a(href="/") Xeltica UI
      block header
    .xd-container
      .xd-sidebar
        ._menu
          h1 ã‚¹ã‚¿ã‚¤ãƒ«
          ul
            li: a(href="/style/typography.html") ã‚¿ã‚¤ãƒã‚°ãƒ©ãƒ•ã‚£
            li: a(href="/style/color.html") ã‚«ãƒ©ãƒ¼
            li: a(href="/style/device.html") ãƒ‡ãƒã‚¤ã‚¹
            li: a(href="/style/theme.html") ãƒ‡ã‚¤/ãƒŠã‚¤ãƒˆ
          h1 ãƒ¬ã‚¤ã‚¢ã‚¦ãƒˆ
          ul
            li: a(href="/layout/box.html") ãƒœãƒƒã‚¯ã‚¹
          h1 ãã®ä»–
          ul
            li: button#daylight ðŸŒž/ðŸŒ™
      .xd-main
        block main
        footer.xd-footer
          block footer
          aside (C)2021 Xeltica ãƒ»
            a(href="https://github.com/Xeltica/ui") ãƒªãƒã‚¸ãƒˆãƒª
            | ãƒ» Version #{process.env.npm_package_version}
    script.
      const btn = document.getElementById('daylight');
      btn.addEventListener('click', () => {
        document.body.classList.toggle('_dark');
      });
