include _footer
include _sidebar

-
  const grayscales = [
    ['black', true],
    ['gray-12', true],
    ['gray-11', true],
    ['gray-10', true],
    ['gray-9', true],
    ['gray-8', true],
    ['gray-7', true],
    ['gray-6', false],
    ['gray-5', false],
    ['gray-4', false],
    ['gray-3', false],
    ['gray-2', false],
    ['gray-1', false],
    ['white', false],
  ];

  const colors = [
    ['red', true],
    ['vermilion', true],
    ['orange', false],
    ['yellow', false],
    ['lime', false],
    ['green', false],
    ['teal', false],
    ['cyan', false],
    ['skyblue', false],
    ['blue', true],
    ['indigo', true],
    ['purple', true],
    ['magenta', false],
    ['pink', false],
  ];

  const classes = [
    ['dark', true],
    ['light', false],
    ['disabled', false],
    ['divider', false],
    ['primary', false],
    ['success', false],
    ['info', false],
    ['danger', false],
    ['warn', false],
  ];

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    link(rel="stylesheet", href="/external/prism.css")
    link(rel='stylesheet' href='/css/xeltica-ui.min.css')
    style.
      .xd-container {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        gap: 1rem;
        grid-template-areas: "sidebar main";
        grid-template-columns: 18rem calc(100% - 18rem);
      }
      .xd-sidebar {
        position: relative;
        grid-area: sidebar;
      }
      .xd-footer {
        border-top: 1px solid var(--tone-3);
        padding: 1rem;
        margin-top: 2rem;
      }
      .xd-main {
        grid-area: main;
      }
      .xd-sidebar > .menu {
        position: sticky;
        top: var(--margin);
      }
    block head
    block title
      title Xeltica UI

  body.container
    header.xd-header
      h1.display: a(href="/") Xeltica UI
      p: b.text-danger 現在開発中のライブラリにつき、本番での使用は想定されていません。頻繁に仕様変更が行われること、機能が不十分であることをご留意ください。
      block header
    .xd-container
      +sidebar
      .xd-main
        block main
    +footer
    script(src="/external/prism.js")
    script.
      const btn = document.getElementById('daylight');
      const cl = document.body.classList;
      if (localStorage.getItem('xelticaui:theme') === 'dark') {
        cl.add('dark');
      }
      btn.addEventListener('click', () => {
        cl.toggle('dark');
        localStorage.setItem('xelticaui:theme', cl.contains('dark') ? 'dark' : 'light');
      });
    block script
