mixin sidebar
  .xd-sidebar.ge-tablet.fw
    .menu
      section
        h1 スタイル
        a.item(href="/style/typography.html") タイポグラフィ
        a.item(href="/style/color.html") カラー
        a.item(href="/style/table.html") 表組み
        a.item(href="/style/image.html") 画像
        a.item(href="/style/breakpoints.html") ブレークポイント
        a.item(href="/style/theme.html") テーマ
      section
        h1 レイアウト
        a.item(href="/layout/container.html") コンテナー
        a.item(href="/layout/stack.html") スタックレイアウト
        a.item(href="/layout/fixed.html") 固定レイアウト
      section
        h1 ビュー
        a.item(href="/view/menu.html") メニュー
        .item.disabled リストビュー
        .item.disabled リストフォーム
        a.item(href="/view/card.html") カード
        .item.disabled ヒーロービュー
      section
        h1 コンポーネント
        a.item(href="/component/button.html") ボタン
        .item.disabled インプット
        .item.disabled アラート
        .item.disabled ノート
        .item.disabled バッジ
        .item.disabled ナビゲーションバー
        .item.disabled プログレスバー
      section
        h1 その他
        a.item(href="/utility.html") ユーティリティ
        button.item#daylight テーマを切り替える
