mixin sidebar
  .xd-sidebar
    ._menu
      h1 スタイル
      ul
        li: a(href="/style/typography.html") タイポグラフィ
        li: a(href="/style/color.html") カラー
        li: a(href="/style/breakpoints.html") ブレークポイント
        li: a(href="/style/theme.html") テーマ
      h1 レイアウト
      ul
        li: a(href="/layout/box.html") ボックス
      h1 コンポーネント
      ul
        li: a(href="/component/menu.html") メニュー
      h1 その他
      ul
        li: a(href="/utility.html") ユーティリティ
        li: button#daylight テーマを切り替える
