extends _layout

block title
  title Xeltica UI

block main
  p: b._text-danger 現在開発中のライブラリにつき、本番での使用は想定されていません。頻繁に仕様変更が行われること、機能が不十分であることをご留意ください。
  h1._big さあ、始めましょう。
  p Xeltica UI は、今あなたがこのページを見て、触れて、感じたこと全てを表現する、全部入りのCSSフレームワークです。
  p シンプルな記法で、爽やかかつ力強いウェブサイト・ウェブアプリを開発するために、今すぐお好きな方法でXeltica UIをインストールし、使ってみましょう。
  h2 CDN
  p 1行のHTMLタグを追加するだけで、Xeltica UIを使い始めることができます。
  pre: code COMING SOON
  h2 npm
  p NPMまたはYarnを用いれば、すぐにXeltica UIをアプリケーションに追加できます。
  p: b Yarn
  pre: code yarn add xeltica/ui
  p: b NPM
  pre: code npm i xeltica/ui
  h2 直接ダウンロード
  p COMING SOON
  .cube
