.alert {
  @extend .flex;
  padding: var(--margin);
  border-radius: var(--radius);
  background: var(--panel);
  color: var(--tone-12);
  > .icon {
    @extend .flex, .f-center, .f-middle;
    margin-right: var(--margin);
  }

  @each $key, $_ in $classes {
    &.bg-#{$key} {
      background: var(--#{$key}-2) !important;
      color: var(--#{$key}-6) !important;
      @include dark {
        background: var(--#{$key}-8) !important;
        color: var(--#{$key}) !important;
      }
    }
  }
}
