.card {
  border-radius: var(--radius);
  background: var(--panel);
  overflow: hidden;
  > figure {
    margin: 0;
    &.bottom-shadow {
      position: relative;
      &::before {
        display: block;
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
      }
    }
  }
  > header,
  > footer {
    padding: calc(var(--margin) / 2) var(--margin);
    // background: var(--tone-1);
  }
  > header {
    border-bottom: 1px solid var(--tone-1);
  }
  > footer {
    border-top: 1px solid var(--tone-1);
  }
  > .body {
    padding: var(--margin);
    > h1 {
      @include flatHeading;
      font-weight: normal;
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    > h2 {
      @include flatHeading;
      font-weight: normal;
      font-size: 1rem;
      color: var(--tone-8);
      margin-bottom: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
  &.acrylic {
    background: rgba(white, 0.7);
    border: none;
    backdrop-filter: blur(8px) brightness(120%);
  }
  @include dark {
    > header,
    > footer {
      background: var(--tone-2);
    }
    &.acrylic {
      background: var(--black-50);
    }
  }
  &.ghost {
    background: transparent;
  }
}
