
body {
  --menu-hover: var(--hover);
  --menu-active: var(--gray-4);
  --menu-section-text: var(--tone-12);
  &.dark {
    --menu-active: var(--gray-19);
  }
}

@mixin large-menu {
  padding: 8px 16px;
  &.active {
    background-color: var(--menu-active);
  }

  &:not(.active):not(.disabled):hover {
    background-color: var(--menu-hover);
  }
}

.menu {
  section + section,
  .section + .section {
    margin-top: var(--margin);
  }

  h1,
  .header,
  .footer {
    @include flatHeading;
    font-size: 0.7rem;
    color: var(--menu-section-text);
    margin: 0;
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--fg);
  }

  &.large .item {
    @include large-menu;
  }

  .item {
    display: block;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    text-align: left;
    border-radius: var(--radius);
    border: 1px solid transparent;
    background-color: transparent;
    color: inherit;

    > .icon {
      margin-right: 0.5rem;
      color: var(--primary);
      font-size: 1rem;
    }

    &:not(.active):not(.disabled) {
      @include clickable;
      &:hover {
        background-color: var(--menu-hover);
      }
    }

    &.active {
      background-color: var(--menu-active);
      cursor: default;
    }

    &.disabled {
      color: var(--dimmed);
      cursor: default;
      > .icon {
        color: var(--dimmed);
      }
    }

    @include le(tablet) {
      @include large-menu;
    }
  }
}
