body {
  --stack-margin: var(--margin);
}

.vstack {
  display: flex;
  flex-direction: column;
  &:not(.dense) {
    gap: var(--stack-margin);
  }
}

.hstack {
  display: flex;
  flex-direction: row;
  &.wrap {
    flex-wrap: wrap;
  }
  &.fill > *:not(.fw) {
    min-width: 0;
    flex: 1;
  }
  &:not(.dense) {
    gap: var(--stack-margin);
  }
}

ul.hstack,
ol.hstack {
  padding: 0;
  margin: 0;
  list-style: none;
}
