button.btn,
a.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--primary);
  background: transparent;
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  position: relative;

  // 光彩エフェクトのアニメーションが、clickableと衝突するので
  // beforeをオーバーレイとして使う
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    transition: box-shadow 0.2s ease;
  }

  &:not(.link) {
    @include clickable;
  }

  &:focus::before {
    box-shadow: 0 0 1rem 0px var(--primary);
  }

  &:active {
    filter: brightness(0.8);
  }

  @each $var in primary, success, info, warn, danger {
    &.#{$var} {
      background: var(--#{$var});
      color: var(--#{$var}-fg);
      border: none;
      &:focus::before {
        box-shadow: 0 0 1rem 0px var(--#{$var});
      }
      &:disabled {
        background: var(--tone-4);
        border-color: var(--tone-4);
        color: var(--tone-0);
      }
    }
  }

  &.flat:disabled,
  &.link:disabled {
    background: transparent;
    color: var(--tone-4);
    border: none;
  }
  &.link:disabled {
    text-decoration: underline;
  }

  &.flat {
    border: none;
    background: none;
    color: var(--fg);
    &:not(:disabled):focus::before {
      box-shadow: none;
    }
    &:not(:disabled):focus,
    &:not(:disabled):hover {
      background: var(--hover);
    }
  }

  &.link {
    border: none;
    background: none;
    color: var(--link);
    &:not(:disabled):focus::before {
      box-shadow: none;
    }
    &:not(:disabled):focus,
    &:not(:disabled):hover {
      text-decoration: underline;
    }
    &:not(:disabled):active {
      filter: brightness(0.8);
    }
  }

  &:disabled {
    background: transparent;
    border-color: var(--tone-4);
    color: var(--tone-4);
    font-weight: normal;
    cursor: default;
  }
}
