label.input-check {
  display: flex;
  align-items: center;
  > input[type="checkbox"],
  > input[type="radio"] {
    outline: none;
    appearance: none;
    display: none;

    + span {
      display: block;
      padding-left: 28px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: var(--tone-0);
        border: 1px solid var(--tone-4);
        transition: box-shadow 0.2s ease, background 0.1s ease-out;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &:not(:disabled) + span {
      cursor: pointer;
      &:focus-within,
      &:hover {
        &::before {
          border: 1px solid var(--primary);
          box-shadow: 0 0 8px var(--primary);
        }
      }
    }
    &:disabled + span {
      color: var(--dimmed);
      &::before {
        background-color: var(--dimmed);
      }
    }
  }
  > input[type="checkbox"] {
    + span {
      &::before {
        border-radius: var(--radius);
      }
      &::after {
        mask: url("data:image/svg+xml,%3Csvg height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h20v20h-20z' fill='none'/%3E%3Cpath d='m16.293 4.586.707.707c-1.094 1.094-2.188 2.188-3.282 3.281-2.023 2.024-4.048 4.048-6.072 6.072l-.353.354-3.354-3.354-.353-.353.707-.707 3 3c.858-.858 1.716-1.717 2.574-2.575 2.024-2.024 4.048-4.048 6.072-6.072z' fill='%23fff'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-size: 20px;
        background: var(--primary-fg);
        transition: width 0.2s ease-out 0.15s;
        width: 0;
      }
    }
    &:checked + span {
      &::before {
        background-color: var(--primary);
        border: none;
      }
      &::after {
        width: 20px;
      }
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.4 10.4'%3E%3Cdefs/%3E%3Cpath fill='%23FFF' d='M12.7 0l.7.7L10.1 4l-6 6-.4.4L.4 7.1 0 6.7.7 6l3 3 2.6-2.6 6-6 .4-.4z'/%3E%3C/svg%3E");
    }
  }
  > input[type="radio"] {
    + span {
      &::before,
      &::after {
        border-radius: 100%;
      }
      &::after {
        transform-origin: center center;

        background: var(--primary);
        transform: translateY(-50%) scale(0);
        transition: transform 0.2s ease;
      }
    }
    &:checked {
      + span {
        &::after {
          transform: translateY(-50%) scale(0.5);
        }
      }
    }
  }
}

label.input-switch {
  display: flex;
  align-items: center;
  input {
    display: none;
    &:not(:disabled) + .switch,
    &:not(:disabled) + .switch + span {
      cursor: pointer;
    }
    + .switch {
      width: 48px;
      height: 20px;
      position: relative;
      // bar
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 10px;
        top: 5px;
        background: var(--tone-2);
        border-radius: 5px;
      }
      // knob
      &::after {
        content: "";
        transition: left 0.2s cubic-bezier(0.44, 0.01, 0.39, 1.59), background 0.2s ease, box-shadow 0.2s ease;
        position: absolute;
        left: 2px;
        width: 20px;
        height: 20px;
        background: var(--tone-4);
        border-radius: 100%;
      }
      + * {
        padding-left: 8px;
      }
    }
    &:focus-within + .switch::after,
    &:hover + .switch::after {
      box-shadow: 0 0 16px var(--primary);
    }
    &:checked + .switch {
      // bar
      &::before {
        content: "";
        background: var(--primary);
        opacity: 0.3;
      }
      // knob
      &::after {
        content: "";
        left: 26px;
        background: var(--primary);
      }
    }
    &:disabled + .switch {
      // bar
      &::before {
        content: "";
        background: var(--tone-4);
      }
      // knob
      &::after {
        content: "";
        background: var(--tone-6);
        box-shadow: none;
      }
      + span {
        color: var(--dimmed);
      }
    }
  }
}
