label.input-check {
  display: flex;
  align-items: center;
  > input[type="checkbox"],
  > input[type="radio"] {
    outline: none;
    appearance: none;
    display: none;

    + span {
      display: block;
      flex: 1;
      padding-left: 28px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: transparent;
        border: 1px solid var(--tone-4);
        transition: box-shadow 0.2s ease, background 0.1s ease-out;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &:not(:disabled) + span {
      cursor: pointer;
      &:focus-within,
      &:hover {
        &::before {
          border: 1px solid var(--primary);
          box-shadow: 0 0 8px var(--primary);
        }
      }
    }
    &:disabled + span {
      color: var(--dimmed);
      &::before {
        background-color: var(--dimmed);
      }
    }
  }
  > input[type="checkbox"] {
    + span {
      &::before {
        border-radius: var(--radius);
      }
      &::after {
        mask: url("data:image/svg+xml,%3Csvg height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h20v20h-20z' fill='none'/%3E%3Cpath d='m16.293 4.586.707.707c-1.094 1.094-2.188 2.188-3.282 3.281-2.023 2.024-4.048 4.048-6.072 6.072l-.353.354-3.354-3.354-.353-.353.707-.707 3 3c.858-.858 1.716-1.717 2.574-2.575 2.024-2.024 4.048-4.048 6.072-6.072z' fill='%23fff'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-size: 20px;
        background: var(--primary-fg);
        transition: width 0.2s ease-out 0.15s;
        width: 0;
      }
    }
    &:checked + span {
      &::before {
        background-color: var(--primary);
        border: none;
      }
      &::after {
        width: 20px;
      }
    }
  }
  > input[type="radio"] {
    + span {
      &::before,
      &::after {
        border-radius: 100%;
      }
      &::after {
        transform-origin: center center;

        background: var(--primary);
        transform: translateX(5%) translateY(-50%) scale(0);
        transition: transform 0.2s ease;
      }
    }
    &:checked {
      + span {
        &::after {
          transform: translateX(5%) translateY(-50%) scale(0.5);
        }
      }
    }
  }
}

label.input-switch {
  display: flex;
  align-items: center;
  $switch-width: 48px;
  $switch-height: 24px;
  $switch-knob-size: $switch-height - 6px;
  input {
    display: none;
    &:not(:disabled) + .switch {
      cursor: pointer;
      + span {
        cursor: pointer;
        flex: 1;
      }
    }
    + .switch {
      width: $switch-width;
      height: $switch-height;
      position: relative;
      // bar
      &::before {
        content: "";
        @extend .circle;
        transition: box-shadow 0.2s ease, border 0.2s ease;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: var(--tone-3);
        border: 1px solid var(--tone-5);
        border-radius: 5px;
      }
      // knob
      &::after {
        content: "";
        transition: left 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0.2s ease;
        position: absolute;
        top: 4px;
        left: 4px;
        width: $switch-knob-size;
        height: $switch-knob-size;
        background: var(--tone-7);
        border-radius: 100%;
      }
      + * {
        padding-left: 8px;
      }
    }
    &:not(:disabled):focus-within + .switch::after,
    &:not(:disabled):hover + .switch::before {
      border: 1px solid var(--primary);
      box-shadow: 0 0 8px var(--primary);
    }
    &:checked + .switch {
      // bar
      &::before {
        content: "";
        background: var(--primary-2);
        border: 1px solid var(--primary-3);
      }
      // knob
      &::after {
        content: "";
        left: #{$switch-width - $switch-knob-size - 2px};
        background: var(--primary);
      }
    }
    &:disabled + .switch {
      // bar
      &::before {
        content: "";
        background: var(--tone-4);
      }
      // knob
      &::after {
        content: "";
        background: var(--tone-6);
        box-shadow: none;
      }
      + span {
        color: var(--dimmed);
      }
    }
  }
}
