.skeleton {
  border-radius: var(--radius);
  background: var(--tone-2);
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(90deg, transparent, var(--tone-3) 50%, transparent 100%);
    animation: 1.2s ease-out 0s infinite skeleton;
  }
}

@keyframes skeleton {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(300%);
  }
}
