body {
  --skeleton-base: var(--tone-4);
  --skeleton-gloss: var(--tone-5);
}

.skeleton {
  border-radius: var(--radius);
  background: var(--skeleton-base);
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(90deg, transparent, var(--skeleton-gloss) 50%, transparent 100%);
    animation: 1.2s ease-out 0s infinite skeleton;
  }
}

@keyframes skeleton {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(300%);
  }
}
