.tab {
  display: flex;
  flex-wrap: wrap;
  background: var(--panel);
  .item {
    position: relative;
    background: transparent;
    border: none;
    color: var(--fg);
    padding: var(--slim-margin) var(--margin);
    transition: background 0.2s ease;
    &.active {
      color: var(--primary);
      cursor: default;
      &::after {
        content: "";
        transform: scaleX(1);
      }
    }
    &:not(.active) {
      @include clickable;
      &:hover {
        background: var(--hover);
        &::after {
          transform: scaleX(0.2);
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      transition: transform 0.2s ease;
      transform-origin: center center;
      display: block;
      bottom: 0;
      height: 2px;
      left: 0;
      right: 0;
      width: 100%;
      transform: scaleX(0);
      background-color: var(--primary);
    }
  }
}
