extends ../_layout

block main
  h1 チェックボックス
  .card: .body
    label.input-check
      input(type="checkbox")
      span 未チェック
    label.input-check
      input(type="checkbox" checked)
      span チェック
    label.input-check
      input(type="checkbox" checked disabled)
      span 無効
  pre: code
    :escape-html
      <label class="input-check">
        <input type="checkbox" />
        <span>未チェック</span>
      </label>
      <label class="input-check">
        <input type="checkbox" checked />
        <span>チェック</span>
      </label>
      <label class="input-check">
        <input type="checkbox" checked disabled />
        <span>無効</span>
      </label>
  h1 ラジオボタン
  .card: .body
    label.input-check
      input(type="radio" name="radio")
      span 項目1
    label.input-check
      input(type="radio" name="radio")
      span 項目2
    label.input-check
      input(type="radio" name="radio")
      span 項目3
  pre: code
    :escape-html
      <label class="input-check">
        <input type="radio" name="radio" />
        <span>項目1</span>
      </label>
      <label class="input-check">
        <input type="radio" name="radio" />
        <span>項目2</span>
      </label>
      <label class="input-check">
        <input type="radio" name="radio" />
        <span>項目3</span>
      </label>
  h1 スイッチ
  .card: .body
    label.input-switch
      input(type="checkbox")
      .switch
      span 未チェック
    label.input-switch
      input(type="checkbox" checked)
      .switch
      span チェック
    label.input-switch
      input(type="checkbox" checked disabled)
      .switch
      span 無効
  pre: code
    :escape-html
      <label class="input-switch">
        <input type="checkbox" />
        <div class="switch"></div>
        <span>未チェック</span>
      </label>
      <label class="input-switch">
        <input type="checkbox" checked />
        <div class="switch"></div>
        <span>チェック</span>
      </label>
      <label class="input-switch">
        <input type="checkbox" checked disabled />
        <div class="switch"></div>
        <span>無効</span>
      </label>
