extends ../_layout

block main
  h1 インプット
  p inputタグ, textareaタグ等に装飾を施すコンポーネントを提供します。
  .card: .body
      h1.mb-1 標準
      .vstack
        input.input-field(type="text", placeholder="名前を入力...")
        input.input-field.ghost(type="text", placeholder="名前を入力...")
        input.input-field(type="text", value="無効化", disabled)
  pre: code
    :escape-html
      <div class="vstack">
        <input class="input-field" type="text" placeholder="名前を入力..." />
        <input class="input-field ghost" type="text" placeholder="名前を入力..." />
        <input class="input-field" type="text" placeholder="名前を入力..." disabled />
      </div>
  .card: .body
    h1.mb-1 ラベル付き
    label.input-field
      | 名前
      input(type="text", placeholder="海老瀬　瑠愛")
    label.input-field
      | 年齢
      input(type="number", value="18")
    label.input-field
      | 誕生日
      input(type="date")
  pre: code
    :escape-html
      <label class="input-field">
        <input type="text" placeholder="海老瀬　瑠愛" />
      </label>
      <label class="input-field">
        <input type="number" value="18" />
      </label>
      <label class="input-field">
        <input type="date" />
      </label>
  .card: .body
    h1.mb-1 テキストエリア
    .vstack
      textarea.input-field
      textarea.input-field(disabled)= 'ABC\nDEF'
  pre: code
    :escape-html
      <div class="vstack">
        <textarea class="input-field"></textarea>
        <textarea disabled class="input-field"></textarea>
      </div>
  .card: .body
    h1.mb-1 グルーピング
    .vstack
      .hgroup
        label.input-label https://
        input.input-field(type="text", placeholder="google.com")
      .hgroup
        input.input-field.text-right(type="number", value="0")
        label.input-label 円
      .hgroup
        input.input-field(type="text", placeholder="検索ワードを入力してください…")
        button.btn.primary: i.fas.fa-search
  pre: code
    :escape-html
      <div class="vstack">
        <div class="hgroup">
          <label class="input-label">https://</label>
          <input class="input-field" type="text" placeholder="google.com" />
        </div>
        <div class="hgroup">
          <input class="input-field" type="number" value="0" />
          <label class="input-label">円</label>
        </div>
        <div class="hgroup">
          <input class="input-field" type="text" placeholder="検索ワードを入力してください…" />
          <button class="btn primary"><i class="fas fa-search"></i></button>
        </div>
      </div>
  .card: .body
    h1.mb-1 その他
    .vstack
      input.input-field(type="file")
      input.input-field(type="file" disabled)
      input.input-field(type="color")
      input.input-field(type="color" disabled)
  pre: code
    :escape-html
      <div class="vstack">
        <input class="input-field" type="file" />
        <input class="input-field" type="color" />
      </div>
