.fluid {
  width: 100%;
}

.sharp {
  border-radius: 0;
}

.select-none {
  user-select: none;
}

.select-all {
  user-select: all;
}

.no-pointer-events {
  pointer-events: none;
}

.rounded {
  border-radius: var(--radius);
}
