.fluid {
  width: 100%;
}

.sharp {
  border-radius: 0;
  &-t {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &-b {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &-l {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &-r {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.rounded {
  border-radius: var(--radius);
  &-t {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }
  &-b {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
  &-l {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }
  &-r {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
}

.select-none {
  user-select: none;
}

.select-all {
  user-select: all;
}

.no-pointer-events {
  pointer-events: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.iflex {
  display: inline-flex;
}

.f-left {
  justify-content: flex-start;
}

.f-center {
  justify-content: center;
}

.f-right {
  justify-content: center;
}

.f-hstretch {
  justify-content: stretch;
}

.f-top {
  align-items: flex-start;
}

.f-middle {
  align-items: center;
}

.f-bottom {
  align-items: flex-end;
}

.f-vstretch {
  align-items: stretch;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-wrap-reverse {
  flex-wrap: wrap-reverse;
}
