$margin-level-unit: 8px;
$fixed-level-unit: $margin-level-unit;
$shadow-level-unit: 4px;

$colors: (
  "red": #e23731,
  "vermilion": #eb6101,
  "orange": #f08300,
  "yellow": #e9be00,
  "lime": #b8d200,
  "green": #3eb370,
  "teal": #20c0a0,
  "cyan": #43fcf3,
  "skyblue": #00b7ff,
  "blue": #2571ff,
  "indigo": #165e83,
  "purple": #884898,
  "magenta": #ff55a1,
  "pink": #ff5c84,
);

$tones: (
  "black": black,
  "gray-1": darken(white, 6%),
  "gray-2": darken(white, 13%),
  "gray-3": darken(white, 22%),
  "gray-4": darken(white, 30%),
  "gray-5": darken(white, 38%),
  "gray-6": darken(white, 46%),
  "gray-7": darken(white, 54%),
  "gray-8": darken(white, 62%),
  "gray-9": darken(white, 69%),
  "gray-10": darken(white, 77%),
  "gray-11": darken(white, 82%),
  "gray-12": darken(white, 88%),
  "white": white,
  "black-50": rgba(0, 0, 0, 0.5),
  "white-50": rgba(255, 255, 255, 0.5),
  "dark": var(--gray-9),
  "light": var(--gray-1),
  "dimmed": var(--gray-5),
  "success-fg": var(--white),
  "primary-fg": var(--white),
  "info-fg": var(--black),
  "danger-fg": var(--white),
  "warn-fg": var(--black),
);

$classes: (
  "primary": "blue",
  "success": "green",
  "info": "skyblue",
  "danger": "red",
  "warn": "yellow",
);

body {
  --margin: 16px;
  --radius: 6px;

  --container-padding: 32px;
  --container-padding-phone: 16px;

  --clickable-shadow: 0 0 1rem rgba(0, 4px, 0, 0.4);
  --clickable-active-transform: translateY(4px);
  --clickable-hover-transform: translateY(-2px);

  --shadow-color: rgba(0, 0, 0, 0.1);

  --input-padding: 10px 16px;

  --lift-shadow: #0000002a;
  --lift-light: #fffffff0;
  --lift-light2: #ffffff40;
  --lift-hover: #00000005;
  --lift-active: #00000010;
  --lift-bg: transparent;
  --lift-fg: var(--tone-8);

  @each $name, $value in $colors {
    --#{$name}: #{$value};
    --#{$name}-d: #{mix(black, $value, 70%)};
    --#{$name}-l: #{mix(white, $value, 70%)};
  }
  @each $name, $value in $tones {
    --#{$name}: #{$value};
  }
  @each $name, $value in $classes {
    --#{$name}: var(--#{$value});
    --#{$name}-l: var(--#{$value}-l);
    --#{$name}-d: var(--#{$value}-d);
  }

  --bg: var(--gray-1);
  --fg: var(--gray-11);
  --link: var(--primary);
  --hover: rgba(0, 0, 0, 0.03);
  --panel: var(--white);
  --panel-hover: var(--gray-1);
  --panel-active: var(--gray-2);

  --tone-0: var(--white);
  --tone-1: var(--gray-1);
  --tone-2: var(--gray-2);
  --tone-3: var(--gray-3);
  --tone-4: var(--gray-4);
  --tone-5: var(--gray-5);
  --tone-6: var(--gray-6);
  --tone-7: var(--gray-7);
  --tone-8: var(--gray-8);
  --tone-9: var(--gray-9);
  --tone-10: var(--gray-10);
  --tone-11: var(--gray-11);
  --tone-12: var(--gray-12);
  --tone-13: var(--black);
  --tone-50: var(--white-50);

  --code-fg: #8b3a41;
  --code-bg: #ffe4e6;

  &.dark {
    --bg: var(--gray-12);
    --fg: var(--gray-2);
    --hover: rgba(255, 255, 255, 0.06);
    --panel: var(--gray-11);
    --panel-hover: var(--gray-10);
    --panel-active: var(--black);

    --tone-0: var(--black);
    --tone-1: var(--gray-12);
    --tone-2: var(--gray-11);
    --tone-3: var(--gray-10);
    --tone-4: var(--gray-9);
    --tone-5: var(--gray-8);
    --tone-6: var(--gray-7);
    --tone-7: var(--gray-6);
    --tone-8: var(--gray-5);
    --tone-9: var(--gray-4);
    --tone-10: var(--gray-3);
    --tone-11: var(--gray-2);
    --tone-12: var(--gray-1);
    --tone-13: var(--white);
    --tone-50: var(--black-50);

    --lift-shadow: #00000060;
    --lift-light: #ffffff10;
    --lift-light2: #ffffff10;
    --lift-hover: #ffffff05;
    --lift-active: #ffffff02;

    --code-fg: #ff5362;
    --code-bg: #573535;
  }
}
