extends ../_layout

block main
  h1 Typography
  p.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eum, rerum error in tenetur dolorem,
    provident deleniti magnam cum cupiditate odit nam? Quae voluptas architecto voluptatibus nisi possimus
    nulla tempore provident maxime qui! Nemo optio neque amet iure rem eum rerum, ipsa aliquam esse molestiae
    corrupti doloremque, minima ex iste error consectetur magni. Laudantium placeat veritatis ullam, natus
    aut cupiditate ab in eveniet praesentium magni omnis ipsum corporis consequatur magnam voluptatibus
    asperiores sint, at cum similique molestiae. Voluptatibus deserunt repellat dicta doloremque consequuntur,
    corporis tenetur cupiditate blanditiis ea illum suscipit possimus architecto corrupti nemo voluptas
    reiciendis ratione amet rerum et error pariatur? Enim maiores veniam magnam aut odit, sed neque rem hic
    eligendi ullam excepturi voluptate id consectetur perspiciatis consequatur possimus vero qui. Voluptate nemo
    corrupti non veniam maiores animi tenetur. Ipsum, blanditiis. Autem rerum nihil necessitatibus beatae minima
    voluptate ex reiciendis laudantium, itaque blanditiis eligendi deleniti dolorum vero ducimus reprehenderit,
    obcaecati, doloribus ratione quas quia exercitationem id. Numquam molestias eligendi quas possimus rem
    similique accusantium aspernatur illo quasi blanditiis laudantium asperiores nesciunt, voluptates maxime
    vero nostrum laboriosam architecto amet voluptatum eos? Accusantium quis id suscipit illo, obcaecati quam
    voluptatum sunt quas neque assumenda dolorem at? Odit molestias veritatis beatae.

  h1 Heading 1
  h2 Heading 2
  h3 Heading 3
  h4 Heading 4
  h5 Heading 5
  h6 Heading 6

  ul
    li ほげ
    li ぴよ
    li ぽぺ
    li ほに

  ol
    li あ
    li あ
    li あ
    li あ
    li あ

  table
    thead
      tr
        th テスト
        th テスト
        th テスト
    tbody
      tr
        td テスト
        td テスト
        td テスト
  p リンク:
    a(href='https://xeltica.work') テスト
  p コード:
    code Code
