extends ../_layout

block head
  style.
    table h1,
    table h2,
    table h3,
    table h4,
    table h5,
    table h6 {
      margin: 0;
    }

block main
  h1 タイポグラフィ

  h2 見出し

  table._table._fluid
    thead
      tr
        th 構文
        th 例
    tbody
      tr
        td: code &lt;h1&gt;&lt;/h1&gt;
        td: h1 見出しレベル1
      tr
        td: code &lt;h2&gt;&lt;/h2&gt;
        td: h2 見出しレベル2
      tr
        td: code &lt;h3&gt;&lt;/h3&gt;
        td: h3 見出しレベル3
      tr
        td: code &lt;h4&gt;&lt;/h4&gt;
        td: h4 見出しレベル4
      tr
        td: code &lt;h5&gt;&lt;/h5&gt;
        td: h5 見出しレベル5
      tr
        td: code &lt;h6&gt;&lt;/h6&gt;
        td: h6 見出しレベル6

  ul
    li ほげ
    li ぴよ
    li ぽぺ
    li ほに

  ol
    li あ
    li あ
    li あ
    li あ
    li あ

  table
    thead
      tr
        th テスト
        th テスト
        th テスト
    tbody
      tr
        td テスト
        td テスト
        td テスト
  p リンク:
    a(href='https://xeltica.work') テスト
  p コード:
    code Code
