@each $name, $value in $colors {
  @for $i from 1 through 10 {
    .text-#{$name}-#{$i} {
      color: var(--#{$name}-#{$i}) !important;
    }
    .bg-#{$name}-#{$i} {
      background-color: var(--#{$name}-#{$i}) !important;
    }
  }
  .text-#{$name} {
    color: var(--#{$name}) !important;
  }
  .bg-#{$name} {
    background-color: var(--#{$name}) !important;
  }
}

@for $i from 1 through 20 {
  .text-gray-#{$i} {
    color: var(--gray-#{$i}) !important;
  }
  .bg-gray-#{$i} {
    background-color: var(--gray-#{$i}) !important;
  }
}

@each $name, $value in $tones {
  .text-#{$name} {
    color: var(--#{$name}) !important;
  }
  .bg-#{$name} {
    background-color: var(--#{$name}) !important;
  }
}

@each $name, $value in $classes {
  .text-#{$name} {
    color: var(--#{$name}) !important;
  }
  .bg-#{$name} {
    background-color: var(--#{$name}) !important;
    color: var(--#{$name}-fg) !important;
    b,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      color: var(--#{$name}-fg) !important;
    }
  }
}

.bg-panel { background-color: var(--panel); }
