.ma-auto { margin: auto !important; }
.ml-auto { margin-left: auto !important; }
.mr-auto { margin-right: auto !important; }
.mt-auto { margin-top: auto !important; }
.mb-auto { margin-bottom: auto !important; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.pa-auto { padding: auto !important; }
.pl-auto { padding-left: auto !important; }
.pr-auto { padding-right: auto !important; }
.pt-auto { padding-top: auto !important; }
.pb-auto { padding-bottom: auto !important; }

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}
.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

@for $v from 0 through 5 {
  $size: $v * $margin-level-unit;
  .ma-#{$v} {
    margin: $size !important;
  }
  .ml-#{$v} {
    margin-left: $size !important;
  }
  .mr-#{$v} {
    margin-right: $size !important;
  }
  .mt-#{$v} {
    margin-top: $size !important;
  }
  .mb-#{$v} {
    margin-bottom: $size !important;
  }
  .mx-#{$v} {
    margin-left: $size !important;
    margin-right: $size !important;
  }
  .my-#{$v} {
    margin-top: $size;
    margin-bottom: $size !important;
  }

  .pa-#{$v} {
    padding: $size !important;
  }
  .pl-#{$v} {
    padding-left: $size !important;
  }
  .pr-#{$v} {
    padding-right: $size !important;
  }
  .pt-#{$v} {
    padding-top: $size !important;
  }
  .pb-#{$v} {
    padding-bottom: $size !important;
  }
  .px-#{$v} {
    padding-left: $size !important;
    padding-right: $size !important;
  }
  .py-#{$v} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }
}
