body {
  --shadow-level-unit: 4px;
}

@for $i from 1 through 8 {
  .shadow-#{$i} {
    box-shadow: 0 2px calc(#{$i} * var(--shadow-level-unit)) var(--shadow-color);
    &-t {
      text-shadow: 0 2px calc(#{$i} * var(--shadow-level-unit)) var(--shadow-color);
    }
  }
}
