.table {
  border: 1px solid var(--tone-3);
  border-radius: var(--radius);
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  border-bottom: none;
  margin-bottom: 1rem;
  th {
    background: var(--tone-1);
  }
  tr {
    background: var(--panel);
  }
  th,
  td {
    padding: 0.5rem 1rem;

    &:not(:last-child) {
      border-right: 1px solid var(--tone-2);
    }
  }
  td {
    border-bottom: 1px solid var(--tone-2);
  }
}
