body {
  --table-header: var(--tone-2);
  --table-color: var(--fg);
  --table-body: var(--panel);
  --table-border: var(--tone-5);
  --table-header-border: var(--tone-3);
  --table-body-border: var(--tone-3);
  --table-header-border-thickness: 2px;
  --table-body-border-thickness: 1px;
  &.dark {
    --table-color: var(--tone-15);
  }
}

.table {
  border-radius: var(--radius);
  border: 1px solid var(--table-border);
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  margin-bottom: 1rem;
  background: var(--table-body);
  color: var(--table-color);
  text-align: left;
  tr {
    &:hover {
      background: var(--panel-hover);
    }
  }
  th {
    background: var(--table-header);
    border-bottom: var(--table-header-border-thickness) solid var(--table-header-border);
  }
  th,
  td {
    padding: 0.5rem 1rem;
  }
  tr:not(:last-child) {
    > td {
      border-bottom: var(--table-body-border-thickness) solid var(--table-body-border);
      overflow: hidden;
    }
  }
}
