.table {
  border: 1px solid var(--tone-2);
  border-radius: var(--radius);
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  margin-bottom: 1rem;
  th {
    background: var(--tone-2);
  }
  tr {
    background: var(--panel);
  }
  th,
  td {
    padding: 0.5rem 1rem;

    + th,
    + td {
      border-left: 1px solid var(--tone-2);
    }
  }
  tr:not(:last-child) {
    > td {
      border-bottom: 1px solid var(--tone-2);
      overflow: hidden;
    }
  }
}
