@use "sass:list";
@use "sass:math";

.text-400 { font-size: 4.00rem !important; }
.text-350 { font-size: 3.50rem !important; }
.text-300 { font-size: 3.00rem !important; }
.text-250 { font-size: 2.50rem !important; }
.text-200, .text-size-huge { font-size: 2.00rem !important; }
.text-175 { font-size: 1.75rem !important; }
.text-150, .text-size-larger { font-size: 1.50rem !important; }
.text-125, .text-size-large { font-size: 1.25rem !important; }
.text-100, .text-size-normal { font-size: 1.00rem !important; }
.text-75, .text-size-small, .text-size-smaller { font-size: 0.75rem !important; }
.text-50, .text-size-tiny { font-size: 0.50rem !important; }

.text-normal { font-weight: normal !important; }
.text-bold { font-weight: bold !important; }
.text-italic { font-style: italic !important; }
.text-oblique { font-style: oblique !important; }

body {
  background: var(--bg);
  color: var(--fg);
  font-weight: normal;
}

.underline {
  border-bottom: 1px solid var(--tone-9);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: var(--slim-margin);
}

$headingSize: 2.5rem, 1.8rem, 1.4rem, 1.3rem, 1.2rem, 1.1rem;

@for $i from 1 through 6 {
  $s: list.nth($headingSize, $i);
  h#{$i} {
    font-size: $s;
    font-weight: normal;
    &.display {
      font-size: #{$s * 2};
      @include le(phone) {
        font-size: #{$s * 1.2};
      }
    }
  }
}

@for $i from 1 through 6 {
  $s: list.nth($headingSize, $i);
  small.subtitle-#{$i} {
    font-size: #{math.div($s, 3) * 2};
    font-weight: normal;
    color: var(--tone-8);
    &.display {
      font-size: #{$s * 2};
    }
  }
}

code {
  font-size: 0.85rem;
  padding: 4px 8px;
  border-radius: var(--radius);
  background-color: var(--code-bg);
  color: var(--code-fg);
}

pre {
  display: block;
  border-radius: var(--radius);
  background-color: var(--panel);
  > code {
    display: block;
    color: inherit;
    background-color: transparent;
    padding: var(--margin);
  }
}

a {
  color: var(--link);
}

small {
  font-size: 0.7em;
}

@each $var in left, center, right {
  .text-#{$var} {
    text-align: $var;
  }
}

section, article {
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: calc(var(--margin) * 2);
    margin-bottom: calc(var(--margin));
  }
  > h2 {
    @extend .underline;
  }
  > p {
    margin: var(--margin) 0;
  }
}

ul, ol {
  padding-inline-start: 1.5em;
}

blockquote {
  margin: 0;
  margin-bottom: var(--slim-margin);
  color: var(--dimmed);
  border-left: 2px solid var(--dimmed);
  padding: var(--slim-margin) 0;
  padding-left: var(--margin);
}

kbd {
  display: inline-block;
  background: var(--panel);
  border-radius: var(--radius);
  border: 1px solid var(--tone-4);
  border-bottom-width: 2px;
  padding: 4px 8px;
}
