@use "sass:list";
@use "sass:math";

.text-size-huge { font-size: 36px; }
.text-size-larger { font-size: 24px; }
.text-size-large { font-size: 20px; }
.text-size-normal { font-size: 16px; }
.text-size-small { font-size: 14px; }
.text-size-smaller { font-size: 12px; }
.text-size-tiny { font-size: 10px; }

body {
  background: var(--bg);
  color: var(--fg);
  font-weight: var(--default-font-weight);
}

h1, h2 {
  border-bottom: 1px solid var(--tone-3);
  &.flat {
    @include flatHeading;
  }
}

h1 {
  border-bottom-width: 2px;
}

$headingSize: 2.1rem, 1.6rem, 1.4rem, 1.3rem, 1.2rem, 1.1rem;

@for $i from 1 through 6 {
  $s: list.nth($headingSize, $i);
  h#{$i} {
    font-size: $s;
    font-weight: var(--default-font-weight);
    &.display {
      @include flatHeading;
      font-size: #{$s * 2};
      @include le(phone) {
        font-size: #{$s * 1.2};
      }
    }
  }
}

@for $i from 1 through 6 {
  $s: list.nth($headingSize, $i);
  small.subtitle-#{$i} {
    @include flatHeading;
    font-size: #{math.div($s, 3) * 2};
    font-weight: 200;
    color: var(--tone-8);
    &.display {
      font-size: #{$s * 2};
    }
  }
}

a {
  color: var(--skyblue);
}

code {
  font-size: 0.85rem;
  padding: 2px;
  border-radius: 4px;
  background-color: var(--code-bg);
  color: var(--code-fg);
}

pre {
  display: block;
  border-radius: var(--radius);
  background-color: var(--panel);
  > code {
    display: block;
    color: inherit;
    background-color: transparent;
    padding: var(--margin);
  }
}

a {
  color: var(--link);
}

small {
  font-size: 0.7em;
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--bold);
}

@each $var in left, center, right {
  .text-#{$var} {
    text-align: $var;
  }
}
