@use "sass:list";

body {
  background: var(--bg);
  color: var(--fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

$headingSize: 2rem, 1.6rem, 1.4rem, 1.3rem, 1.2rem, 1.1rem;

@for $i from 1 through 6 {
  $s: list.nth($headingSize, $i);
  h#{$i} {
    font-size: $s;
    font-weight: 200;
    &.display {
      font-size: #{$s * 2};
      @include le(phone) {
        font-size: #{$s * 1.2};
      }
    }
  }
}

@for $i from 1 through 6 {
  $s: list.nth($headingSize, $i);
  small.subtitle-#{$i} {
    font-size: #{$s / 3 * 2};
    font-weight: 200;
    color: var(--tone-8);
    &.display {
      font-size: #{$s * 2};
    }
  }
}

a {
  color: var(--skyblue);
}

code {
  font-size: 0.85rem;
  padding: 2px;
  border-radius: 4px;
  background-color: var(--code-bg);
  color: var(--code-fg);
}

pre {
  display: block;
  background-color: var(--tone-1);
  @include dark {
    background-color: var(--tone-2);
  }
  > code {
    display: block;
    color: inherit;
    background-color: transparent;
    padding: var(--margin);
  }
}

a {
  color: var(--link);
}

small {
  font-size: 0.7em;
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--bold);
}
