mixin item(name, href, iconClassName, isBeta)
  if href === path
    .item.active
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta
  else if href === null
    .item.disabled
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta
  else
    a.item(href=href)
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta

mixin sidebar
  .xd-sidebar&attributes(attributes)
    .menu
      section
        h1 デザイン方針
        +item("目的", "/docs/", "fas fa-home")
        +item("カラー", "/docs/color.html", "fas fa-palette")
        +item("タイポグラフィ", "/docs/typography.html", "fas fa-align-left")
        +item("フォント", "/docs/fonts.html", "fas fa-font")
        +item("アイコン", "/docs/icons.html", "fas fa-icons")
        +item("アクセシビリティ", "/docs/a11y.html", "fas fa-universal-access")
        +item("文言", "/docs/wording.html", "fas fa-comment-dots")

