mixin item(name, href, iconClassName)
  if href === path
    .item.active
      i.icon.fa-fw(class=iconClassName)
      != name
  else if href === null
    .item.disabled
      i.icon.fa-fw(class=iconClassName)
      != name
  else
    a.item(href=href)
      i.icon.fa-fw(class=iconClassName)
      != name

mixin sidebar
  .xd-sidebar.ge-tablet.fw.mr-2
    .menu
      section
        h1 はじめよう
        +item("導入", "/docs/", "fas fa-download")
        +item("対応ブラウザとOS", "/docs/browser.html", "fas fa-mobile")
        +item("スクリプティング", "/docs/scripting.html", "fas fa-plug")
        +item("アクセシビリティ", "/docs/a11y.html", "fas fa-universal-access")
      section
        h1 スタイリング
        +item("タイポグラフィ", "/docs/styling/typography.html", "fas fa-magic")
        +item("ドロップシャドウ", "/docs/styling/shadow.html", "fas fa-circle")
        +item("カラー", "/docs/styling/color.html", "fas fa-paint-roller")
        +item("表組み", "/docs/styling/table.html", "fas fa-table")
        +item("画像", "/docs/styling/image.html", "fas fa-images")
        +item("ブレークポイント", "/docs/styling/breakpoints.html", "fas fa-arrows-alt-h")
        +item("テーマ", "/docs/styling/theme.html", "fas fa-palette")
      section
        h1 レイアウト
        +item("コンテナー", "/docs/layout/container.html", "fas fa-vector-square")
        +item("スタックレイアウト", "/docs/layout/stack.html", "fas fa-layer-group")
        +item("グループレイアウト", "/docs/layout/group.html", "fas fa-object-group")
        +item("固定レイアウト", "/docs/layout/fixed.html", "fas fa-thumbtack")
        +item("グリッドシステム", "/docs/layout/grid-system.html", "fas fa-th")
      section
        h1 ビュー
        +item("メニュー", "/docs/view/menu.html", "fas fa-th")
        +item("リストビュー", null, "fas fa-bars")
        +item("リストフォーム", null, "fas fa-tasks")
        +item("カード", "/docs/view/card.html", "fas fa-square")
        +item("ヒーロービュー", "/docs/view/hero.html", "fas fa-address-card")
      section
        h1 コンポーネント
        +item("ボタン", "/docs/component/button.html", "fas fa-caret-square-right")
        +item("インプット", "/docs/component/input.html", "fas fa-keyboard")
        +item("スイッチ等", "/docs/component/check-radio.html", "fas fa-toggle-on")
        +item("アラート", null, "fas fa-info-circle")
        +item("ノート", null, "fas fa-sticky-note")
        +item("バッジ", null, "fas fa-cookie")
        +item("ナビゲーションバー", null, "fas fa-directions")
        +item("プログレスバー", null, "fas fa-hourglass")
        +item("ローディング", null, "fas fa-spinner")
      section
        h1 その他
        +item("ユーティリティ", "/docs/utility.html", "fas fa-toolbox")
