mixin sidebar
  .xd-sidebar.ge-tablet.fw
    .menu
      section
        h1 はじめよう
        //- a.item(href="/docs/getting-started/index.html") 導入
        .item.disabled
          i.icon.fas.fa-fw.fa-download
          | 導入
        //- a.item(href="/docs/getting-started/browser.html") 対応ブラウザとOS
        .item.disabled
          i.icon.fas.fa-fw.fa-mobile
          | 対応ブラウザとOS
        //- a.item(href="/docs/getting-started/scripting.html") スクリプティング
        .item.disabled
          i.icon.fas.fa-fw.fa-plug
          | スクリプティング
        //- a.item(href="/docs/getting-started/a11y.html") アクセシビリティ
        .item.disabled
          i.icon.fas.fa-fw.fa-universal-access
          | アクセシビリティ
      section
        h1 スタイリング
        a.item(href="/docs/styling/typography.html")
          i.icon.fas.fa-fw.fa-magic
          | タイポグラフィ
        a.item(href="/docs/styling/shadow.html")
          i.icon.fas.fa-fw.fa-circle
          | ドロップシャドウ
        a.item(href="/docs/styling/color.html")
          i.icon.fas.fa-fw.fa-paint-roller
          | カラー
        a.item(href="/docs/styling/table.html")
          i.icon.fas.fa-fw.fa-table
          | 表組み
        a.item(href="/docs/styling/image.html")
          i.icon.fas.fa-fw.fa-images
          | 画像
        a.item(href="/docs/styling/breakpoints.html")
          i.icon.fas.fa-fw.fa-arrows-alt-h
          | ブレークポイント
        a.item(href="/docs/styling/theme.html")
          i.icon.fas.fa-fw.fa-palette
          | テーマ
      section
        h1 レイアウト
        a.item(href="/docs/layout/container.html")
          i.icon.fas.fa-fw.fa-vector-square
          | コンテナー
        a.item(href="/docs/layout/stack.html")
          i.icon.fas.fa-fw.fa-layer-group
          | スタックレイアウト
        a.item(href="/docs/layout/group.html")
          i.icon.fas.fa-fw.fa-object-group
          | グループレイアウト
        a.item(href="/docs/layout/fixed.html")
          i.icon.fas.fa-fw.fa-thumbtack
          | 固定レイアウト
        a.item(href="/docs/layout/grid-system.html")
          i.icon.fas.fa-fw.fa-th
          | グリッドシステム
      section
        h1 ビュー
        a.item(href="/docs/view/menu.html")
          i.icon.fas.fa-fw.fa-list-ul
          | メニュー
        .item.disabled
          i.icon.fas.fa-fw.fa-bars
          | リストビュー
        .item.disabled
          i.icon.fas.fa-fw.fa-tasks
          | リストフォーム
        a.item(href="/docs/view/card.html")
          i.icon.far.fa-fw.fa-square
          | カード
        .item.disabled
          i.icon.fas.fa-fw.fa-address-card
          | ヒーロービュー
      section
        h1 コンポーネント
        a.item(href="/docs/component/button.html")
          i.icon.fas.fa-fw.fa-caret-square-right
          | ボタン
        .item.disabled
          i.icon.far.fa-fw.fa-keyboard
          | インプット
        .item.disabled
          i.icon.fas.fa-fw.fa-info-circle
          | アラート
        .item.disabled
          i.icon.far.fa-fw.fa-sticky-note
          | ノート
        .item.disabled
          i.icon.fas.fa-fw.fa-cookie
          | バッジ
        .item.disabled
          i.icon.fas.fa-fw.fa-directions
          | ナビゲーションバー
        .item.disabled
          i.icon.far.fa-fw.fa-hourglass
          | プログレスバー
        .item.disabled
          i.icon.fas.fa-fw.fa-spinner
          | ローディング
      section
        h1 その他
        a.item(href="/docs/utility.html")
          i.icon.fas.fa-fw.fa-toolbox
          | ユーティリティ
