mixin item(name, href, iconClassName, isBeta)
  if href === path
    .item.active
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta
  else if href === null
    .item.disabled
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta
  else
    a.item(href=href)
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta

mixin sidebar
  .xd-sidebar&attributes(attributes)
    .menu
      section
        h1 基本原則
        +item("総則", "/docs/", "fas fa-home")

