extends _layout

block main
  :markdown-it
    # アクセシビリティ

    あらゆるユーザーが問題なくアプリ・ウェブサイトを利用できるよう実装すべきです。

    Xeltica Design Systemでは、Web媒体に限定してアクセシビリティガイドラインを定めています。ネイティブアプリについては、それぞれに定められたアクセシビリティガイドラインに則ってください。

    WIP
