extends _layout

block main
  h1 対応ブラウザとOS

  h2 ウェブブラウザ
  p XelticaUIは基本的に主要なモダンブラウザの最新版で動作します。
    | 開発時はGoogle Chrome, Firefox, Mac Safariで検証を行っています。旧Edge, Internet Explorerでは動きません。
  p Blink, Gecko, AppleWebkitの最新版であれば動作するはずです。

  h2 iOS
  p iOS Safariの最新版で正式に動作を確認していますが、iOS 10以上であれば正常動作するよう開発しています。

  h2 Android
  p Android 端末を所持していないため正式な動作を確認していませんが、Android Chromeの最新版で動作するよう開発しています。

  h2 Internet Explorer / Edge (旧版)
  p Internet Explorer, Microsoft Edge (旧版) ともに動作を保証していません。
