doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1')
    link(rel="stylesheet", href="/external/prism.css")
    link(rel='stylesheet' href='/css/xeltica-ui.min.css')
    title XelticaUI
    style.
      .a {
        display: flex;
        height: 100vh;
        width: 100vw;
      }

      #a {
        width: 300px;
      }

      #b {
        flex: 1;
        min-width: 0;
      }
  body
    .a
      .container#a(style="background: var(--tone-1)")
        h1 HELLO
      .container#b(style="background: var(--tone-2)")
        h1 HELLO
        pre: code
          :escape-html
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae distinctio asperiores repudiandae amet adipisci nam, in perferendis, esse ab fugit dolore hic magnam eligendi officiis maxime aliquam unde? Aperiam, odio non quisquam expedita nisi repellendus asperiores eligendi cumque fugiat amet dolorem iure a cupiditate, sit iusto minus magnam, mollitia voluptatem modi? Sequi, sed? Recusandae iste aliquam pariatur magnam nostrum facilis maxime velit repellendus accusantium sapiente? Corporis quos itaque aspernatur eligendi omnis. Earum inventore impedit sapiente sint enim veritatis illum facilis explicabo ab quas eum id quos tempore fugit corrupti obcaecati soluta tenetur suscipit vel eius, repudiandae at blanditiis. Veniam, temporibus.
