extends _layout

block main
  :markdown-it
    # アイコン

    アイコンには、[Font Awesome](https://fontawesome.com/)のフリー版を使用します。もしより好ましいのであれば、プラットフォーム固有のアイコンを代わりに用います。

    ## 余白

    アイコンと文字を並べる場合は必ず余白を開けてください。余白のサイズは8px、あるいは16pxが好ましいです。

    WIP
