extends _layout

block main
  :markdown-it
    # 目的

    Xeltica Design System の定める目的は、Xeltica Studioの製品およびサービスに一貫性のあるユーザー体験をもたらすことです。

    Xeltica Studioは多くのサービスを提供しています。すべてのサービスに統一された雰囲気・操作性を与えることは、利便性だけでなくブランディングや生産性向上の観点からも重要です。

    具体的にXeltica Design Systemでは、次のような要素を定義し、取り決めています。

    * ユーザーインターフェース
    * カラー
    * タイポグラフィ
    * フォント
    * アイコン
    * 文言
