extends _layout

block head
  style.

block main
  - const cardTitle = 'ポラーノの広場';
  - const cardSubtitle = '宮沢賢治';
  - const cardBody = 'あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。';

  h1 Lift UI<sup class="text-dimmed">Beta</sup> <code>.lift</code>
  p Lift UI は、ニューモーフィズムの概念をもたらす試験的なUIです。
  p 単体でも凹凸の視覚効果を与えるビューとして動作しますが、その他のコンポーネントとも組み合わせることができます。
  h2 クラスと要素
  table.table
    thead: tr
      th クラス名
      th 説明
    tbody
      tr: td: code .lift
        td 基本クラスです。
      tr: td: code .up
        td .lift に追加することで要素を凸にします。
      tr: td: code .down
        td .lift に追加することで要素を凹にします。
  h2 例
  .card.my-2.lift.up(style="max-width: 500px")
    .body
      .hstack
        .circle.lift.down(style="width: 64px; height: 64px")
        main(style="flex: 1")
          h1.text-100.flex.f-center
            span.text-bold さかな
            span.text-dimmed.text-normal.ml-1 @TheFish
            span.text-primary.ml-1: i.fas.fa-check-circle
            span.text-dimmed.ml-auto: a(href="#") 5時間前
          p.mt-1 許さない
      .hstack.f-right
        button.btn.lift.up
          i.fas.fa-reply
        button.btn.lift.up
          i.fas.fa-retweet
          span.text-dimmed.ml-1 7
        button.btn.lift.up
          i.far.fa-smile
          i.fas.fa-plus.text-dimmed.ml-1
        button.btn.lift.up: i.fas.fa-ellipsis-h
  .card.my-2.lift.up(style="max-width: 500px")
    .body
      .text-green
        i.fas.fa-retweet.mr-1.mb-2
        | さかなさんがRepostしました
      .hstack
        .circle.lift.down(style="width: 64px; height: 64px; background: center/contain url('https://placekitten.com/128/128'); ")
        main(style="flex: 1")
          h1.text-100.flex.f-center
            span.text-bold ねこ
            span.text-dimmed.text-normal.ml-1 @cat
            span.text-dimmed.ml-auto: a(href="#") 5時間前
          p.mt-1 ねこに免じて許してくれませんかね…
      .hstack.f-right
        button.btn.lift.up
          i.fas.fa-reply
          span.text-dimmed.ml-1 2
        button.btn.lift.up
          i.fas.fa-retweet
          span.text-dimmed.ml-1 9+
        button.btn.lift.up
          i.far.fa-smile
          i.fas.fa-plus.text-dimmed.ml-1
        button.btn.lift.up: i.fas.fa-ellipsis-h
  h2 応用
  h3 ボタン
  .row.mb-2
    each className in [null, 'primary', 'success', 'info', 'warn', 'danger']
      - const label = className ? (className[0].toUpperCase() + className.substring(1)) : 'Normal';
      .col-4.col-6-sm: button.fluid.btn.lift(class=className)= label
  h3 ボタン(非アクティブ)
  .row
    each className in [null, 'primary', 'success', 'info', 'warn', 'danger']
      - const label = className ? (className[0].toUpperCase() + className.substring(1)) : 'Normal';
      .col-4.col-6-sm: button.fluid.btn.lift(class=className, disabled)= label
