extends _layout

block main
  h1 ユーティリティ
  p XelticaUI には、実装を手助けするいくつかの便利なユーティリティクラスや、SCSS 関数を備えています。

  h2 角丸
  p <code>rounded</code>クラスを指定すると、強制的に角を付与できます。
  .bg-red.rounded(style="width: 64px; height: 64px")
