mixin item(name, href, iconClassName, isBeta)
  if href === path
    .item.active
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta
  else if href === null
    .item.disabled
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta
  else
    a.item(href=href)
      i.icon.fa-fw(class=iconClassName)
      != name
      if isBeta
        sup.text-dimmed Beta

mixin sidebar
  .xd-sidebar&attributes(attributes)
    .menu
      section
        h1 はじめよう
        +item("導入", "/docs/components/", "fas fa-download")
        +item("対応ブラウザとOS", "/docs/components/browser.html", "fas fa-mobile")
        +item("スクリプティング", "/docs/components/scripting.html", "fas fa-plug")
        +item("アクセシビリティ", "/docs/components/a11y.html", "fas fa-universal-access")
      section
        h1 スタイリング
        +item("タイポグラフィ", "/docs/components/typography.html", "fas fa-magic")
        +item("ドロップシャドウ", "/docs/components/shadow.html", "fas fa-circle")
        +item("カラー", "/docs/components/color.html", "fas fa-paint-roller")
        +item("表組み", "/docs/components/table.html", "fas fa-table")
        +item("ブレークポイント", "/docs/components/breakpoints.html", "fas fa-arrows-alt-h")
        +item("テーマ", "/docs/components/theme.html", "fas fa-palette")
      section
        h1 レイアウト
        +item("コンテナー", "/docs/components/container.html", "fas fa-vector-square")
        +item("スタックレイアウト", "/docs/components/stack.html", "fas fa-layer-group")
        +item("グループレイアウト", "/docs/components/group.html", "fas fa-object-group")
        +item("固定レイアウト", "/docs/components/fixed.html", "fas fa-thumbtack")
        +item("グリッドシステム", "/docs/components/grid-system.html", "fas fa-th")
      section
        h1 ビュー
        +item("メニュー", "/docs/components/menu.html", "fas fa-th")
        +item("リストビュー", null, "fas fa-bars")
        +item("リストフォーム", "/docs/components/list-form.html", "fas fa-tasks")
        +item("カード", "/docs/components/card.html", "fas fa-square")
        +item("ヒーロービュー", "/docs/components/hero.html", "fas fa-address-card")
        +item("ドロワー", "/docs/components/drawer.html", "fas fa-bars")
        +item("アラート", "/docs/components/alert.html", "fas fa-info-circle")
      section
        h1 コンポーネント
        +item("ボタン", "/docs/components/button.html", "fas fa-caret-square-right")
        +item("インプット", "/docs/components/input.html", "fas fa-keyboard")
        +item("スイッチ等", "/docs/components/check-radio.html", "fas fa-toggle-on")
        +item("タブ", "/docs/components/tab.html", "fas fa-ellipsis-h")
        +item("スケルトン", "/docs/components/skeleton.html", "fas fa-info-circle")
        +item("ノート", null, "fas fa-sticky-note")
        +item("バッジ", null, "fas fa-cookie")
        +item("ナビゲーションバー", null, "fas fa-directions")
        +item("プログレスバー", null, "fas fa-hourglass")
        +item("ローディング", null, "fas fa-spinner")
      section
        h1 その他
        +item("ユーティリティ", "/docs/components/utility.html", "fas fa-toolbox")
