extends _layout

block main
  h1 ブレークポイント
  p スマートフォン、タブレット、パソコンはそれぞれ画面サイズ、入力手段などにおいて大きく異なります。ウェブサイトを様々な端末からストレス無く閲覧するためには、そういったデバイスの違いを考慮したデザインが欠かせません。
  p XelticaUIでは、いくつかのデバイス種別ごとにブレークポイントが定義されています。
