extends _layout

block main
  h1 対応ブラウザとOS

  p 基本的に、エバーグリーンブラウザと称される最新のウェブブラウザを対象としています。

  h2 PC
  p 開発時はGoogle Chrome, Firefox, Mac Safariで検証を行っています。旧Edge, Internet Explorerでは動きません。
  p Blink, Gecko, AppleWebkitの最新版であれば動作するはずです。

  h2 iOS
  p iOS Safariの最新版を対象としていますが、iOS 14以上であれば正常動作するよう開発しています。

  h2 Android
  p Android版Chromeの最新版で動作するよう開発しています。

  h2 Internet Explorer / Edge (旧版)
  p Internet Explorer, Microsoft Edge (旧版) ともに動作を保証していません。
