doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1')
    link(rel='stylesheet' href='/css/xeltica-ui.min.css')
    link(rel="stylesheet", href="https://koruri.chillout.chat/koruri.css")
    script(src='https://kit.fontawesome.com/c7ab6eba70.js' crossorigin='anonymous')
    style.
      body {
        font-family: Koruri;
      }
    title XelticaUI Debug
  body
    .container
      .menu.large(style="width: 200px")
        .item
          i.icon.fas.fa-cat.fa-fw
          | ﾈｺﾁｬﾝ
        .item
          i.icon.fas.fa-dog.fa-fw
          | いぬ
        .item
          i.icon.fas.fa-shrimp.fa-fw
          | 海老
