doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1')
    link(rel='stylesheet' href='/css/xeltica-ui.min.css')
    link(
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.15.3/css/all.css'
      integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=='
      crossorigin='anonymous'
    )
    title XelticaUI Debug
  body.dark
    .navbar.py-5.f-middle
      .navbar-title.text-150 うんち
        input.py-0.input-field.ghost(type="search" placeholder="検索…")
        button.btn.lift.primary.pa-1.px-2: i.fas.fa-search
