extends _layout

block main
  h1 ヒーロービュー <code>.hero</code>
  p ヒーロービューでは、文字が全体的に大きく表示されます。

  h2 例
  .card.ghost: .body
    .hero
      h1 ポラーノの広場
      h2 著: 宮沢賢治
      p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
  pre: code
    :escape-html
      <div class="hero">
        <h1>ポラーノの広場</h1>
        <h2>宮沢賢治</h2>
        <p>
          あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
        </p>
      </div>
