extends _layout

block main
  h1.underline 導入
  h2.underline パッケージ追加
  p NPMまたはYarnを用いれば、すぐにXelticaUIをアプリケーションに追加できます。
  h3 Yarn
  pre: code.select-all yarn add xeltica/design-system
  h3 npm
  pre: code.select-all npm i xeltica/design-system
  h2 スケルトンテンプレート
  pre: code
    :escape-html
      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

          <!-- XelticaUI CSS -->
          <link rel="stylesheet" href="/css/xeltica-ui.min.css">

          <!-- 必要に応じて、ここにカスタムCSSを挿入しましょう -->

          <title>タイトルを挿入</title>
        </head>
        <body>
          <h1>Hello, world!</h1>

          <!-- 必要に応じて、ここにカスタムスクリプトを挿入しましょう -->
        </body>
      </html>
  h2 webpack
  p webpackをお使いの場合、importすることでバンドル煮含められます。
  pre: code
    :escape-html
      import 'xeltica-ui/dist/css/xeltica-ui.min.css';
