extends _layout

block head
  style.
    .xd-shadow-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      height: 4rem;
    }
    .xd-shadow-text-container {
      margin: 1rem 0;
    }

block main
  :markdown-it
    # ドロップシャドウ
    要素にドロップシャドウを付与することで、前後関係を明確にする効果が期待できます。使いすぎは禁物です。
    `.shadow-{level}` クラス ( `level` は1から8の整数値)を付与することで、ドロップシャドウを適用できます。

    ## レベル
    ドロップシャドウは8段階のレベルで設定できます。

  .row
    - for (let i = 1; i <= 8; i++)
      .col-6.pc-3: .card.xd-shadow-box(class=`shadow-${i}`) .shadow-#{i}

  :markdown-it
    ## テキストシャドウ
    テキストに影を付ける場合は、 `.shadow-t` クラスを用います。

  .shadow-t あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
