extends ../_layout

block main
  h1 タブ
  p ページやブロック要素を切り替えるUIを提供します。
  .card: .body
      h1.mb-1 例
      .tab
        button.item.active ホーム
        button.item 通知
        button.item 見つける
        button.item メッセージ
  pre: code
    :escape-html
      <div class="tab">
        <button class="item active">ホーム</button>
        <button class="item">通知</button>
        <button class="item">見つける</button>
        <button class="item">メッセージ</button>
      </div>
  h2 スクリプト例
  pre: code
    :escape-html
      const items = document.querySelectorAll('.tab>.item');
      let activeIndex = 0;
      items.forEach((it, i) => {
        if (it.classList.contains('active')) activeIndex = i;
        it.addEventListener('click', () => {
          if (i === activeIndex) return;
          items[activeIndex].classList.remove('active');
          items[i].classList.add('active');
          activeIndex = i;
        });
      });

block script
  script.
    const items = document.querySelectorAll('.tab>.item');
    let activeIndex = 0;
    items.forEach((it, i) => {
      if (it.classList.contains('active')) activeIndex = i;
      it.addEventListener('click', () => {
        if (i === activeIndex) return;
        items[activeIndex].classList.remove('active');
        items[i].classList.add('active');
        activeIndex = i;
      });
    });
