extends _layout

block body
  .container
    .card.mx-auto(style="max-width: 1200px")
      .body.text-center
        h1.mb-2
          i.fas.fa-exclamation-triangle
          |  見つかりません。
        p パスが間違っているか、リンク切れの可能性があります。
        p: a.btn.info(href="/")
          i.fas.fa-arrow-left
          |  トップに戻る
