mixin header(transparent)
  .navbar.hstack(class=(transparent ? '' : 'bg-primary text-primary-fg'))
    h1.mr-1.navbar-title: a(href="/") XelticaUI
    ul.hstack
      li: a(href="/docs")
        i.fas.fa-book.mr-1
        span.ge-tablet ドキュメント
  .xd-belt.bg-danger
    | 現在開発中につき、頻繁に仕様が変わります。実製品への使用は今の所おすすめできません。
