include _header
include _footer

-
  const grayscales = [
    ['black', true],
    ['gray-12', true],
    ['gray-11', true],
    ['gray-10', true],
    ['gray-9', true],
    ['gray-8', true],
    ['gray-7', true],
    ['gray-6', false],
    ['gray-5', false],
    ['gray-4', false],
    ['gray-3', false],
    ['gray-2', false],
    ['gray-1', false],
    ['white', false],
  ];

  const colors = [
    ['red', true],
    ['vermilion', true],
    ['orange', false],
    ['yellow', false],
    ['lime', false],
    ['green', false],
    ['teal', false],
    ['cyan', false],
    ['skyblue', false],
    ['blue', true],
    ['indigo', true],
    ['purple', true],
    ['magenta', false],
    ['pink', false],
  ];

  const classes = [
    ['dark', true],
    ['light', false],
    ['disabled', false],
    ['divider', false],
    ['primary', false],
    ['success', false],
    ['info', false],
    ['danger', false],
    ['warn', false],
  ];

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1')
    link(rel='stylesheet' href='/css/xeltica-ui.min.css')
    <script src="https://kit.fontawesome.com/c7ab6eba70.js" crossorigin="anonymous"></script>
    style.
      .xd-sidebar {
        width: 18rem;
      }
      .xd-footer {
        margin-top: 2rem;
      }
      .xd-belt {
        width: 100%;
        line-height: 2;
        text-align: center;
        padding: 4px;
      }
    block head
    block title
      title Xeltica Design System

  body
    header.xd-header
      block header
        +header
    block body
    block footer
      .container
        +footer
    .card.fix-bottom-right-3.shadow-4: .hstack.dense
      button.btn.flat(tabindex="-1").xd-weather-btn: i.fas
      button.btn.flat(tabindex="-1").xd-share-btn: i.fas.fa-share-alt
    script(src="/xeltica-ui.js")
    script.
      setupAll();
    script.
      const shareButton = document.querySelector('.xd-share-btn');
      const shareText = `${document.title}\n${location.href}`;
      shareButton.addEventListener('click', () => {
        navigator.share({
          url: location.href,
          title: document.title,
        });
      });
      const weatherButton = document.querySelector('.xd-weather-btn');
      const cl = document.body.classList;
      if (localStorage.getItem('xelticaui:theme') === 'dark') {
        cl.add('dark');
      }
      weatherButton.children[0].className = cl.contains('dark') ? 'fas fa-moon' : 'fas fa-sun';
      weatherButton.addEventListener('click', () => {
        cl.toggle('dark');
        const currentTheme = cl.contains('dark') ? 'dark' : 'light';
        localStorage.setItem('xelticaui:theme', currentTheme);
        weatherButton.children[0].className = currentTheme === 'dark' ? 'fas fa-moon' : 'fas fa-sun';
      });

    block script
