extends _layout

block header
block footer

block head
  style.
    body {
      background: url("/assets/yokohama.jpg");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    .xd-hero-container {
      width: 100vw;
      padding: 0 16px;
      height: 100vh;
      display: flex;
      flex-direction: row;
    }
    .xd-hero-card {
      max-width: 960px;
      flex: 1;
      margin: 96px auto;
      overflow: auto;
    }
    @media (max-width: 600px) {
      .xd-hero-card {
        margin: 32px auto;
      }
    }
    .xd-belt {
      position: fixed;
    }
    .icon-xeltica {
      width: 1em;
      height: 1em;
      color: currentColor;
    }

block body
  .xd-belt.text-danger
    | 不安定かつ、頻繁に仕様が変わります。実用性は保証しません。
  .xd-hero-container
    .card.shadow-5.xd-hero-card
      .body(style="width: 100%; height: 100%")
        .container.mt-5
          h1.flex.f-middle
            svg(viewBox="0 0 256 256" width="2em" height="2em"): use(href="/assets/guideline/xeltica.svg#xeltica")
            span.ml-2 Design System
          p.mb-4 Xeltica 製品のデザイン哲学をまとめた取り決めおよび、付随するCSS フレームワーク。
          .menu.large
            section
              a.item(href="/docs")
                i.icon.fas.fa-chevron-right
                | 基本原則
              a.item(href="/docs/components")
                i.icon.fas.fa-chevron-right
                | コンポーネント
          +footer
