extends _layout

block header
block footer

block head
  style.
    body {
      background: url("/assets/yokohama.jpg");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    .xd-hero-container {
      width: 100vw;
      padding: 0 16px;
      height: 100vh;
      display: flex;
      flex-direction: row;
    }
    .xd-hero-card {
      max-width: 960px;
      flex: 1;
      margin: 96px auto;
      overflow: auto;
    }
    @media (max-width: 600px) {
      .xd-hero-card {
        margin: 32px auto;
      }
    }
    .xd-belt {
      position: fixed;
    }

block body
  .xd-belt.bg-danger
    | 現在開発中につき、頻繁に仕様が変わります。実製品への使用は今の所おすすめできません。
  .xd-hero-container
    .card.acrylic.shadow-5.xd-hero-card
      .body
        .container.hero
          h1.display.text-primary(style="margin: 0") XelticaUI
          p XelticaUI は、Xelticaのプロダクトデザインを統一し、生産性を向上させる目的で開発を開始しました。
            | Xeltica製品のほとんどはオープンソースであることから、
            | 本ライブラリもオープンソースのCSSフレームワークとして開発しています。
          p npmやCDN経由で入手して、今すぐ利用しましょう。
          .hstack.wrap
            a.btn.primary(href="/docs")
              i.fas.fa-book.mr-1
              | ドキュメント
          +footer
