extends _layout

block body
  h1.display.text-primary(style="margin: 0") XelticaUI
  h2 ブランドを体現する為に生まれてきました。
  p XelticaUI は、Xelticaのプロダクトデザインを統一し、生産性を向上させる目的で開発を開始しました。
    | Xeltica製品のほとんどはオープンソースであることから、
    | 本ライブラリもオープンソースのCSSフレームワークとして開発しています。
