.card {
  border: 1px solid var(--tone-2);
  border-radius: var(--radius);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background: var(--tone-0);
  > figure.bottom-shadow {
    position: relative;
    &::before {
      display: block;
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
    }
  }
  > header,
  > footer {
    padding: calc(var(--margin) / 2) var(--margin);
    background: var(--tone-1);
  }
  > header {
    border-bottom: 1px solid var(--divider);
  }
  > footer {
    border-top: 1px solid var(--divider);
  }
  > .body {
    padding: var(--margin);
    > h1 {
      font-weight: normal;
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    > h2 {
      font-weight: normal;
      font-size: 1rem;
      color: var(--tone-8);
      margin-bottom: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
  @include dark {
    background: var(--tone-3);
    // box-shadow: none;
    > header,
    > footer {
      background: var(--tone-2);
    }
  }
  &.sink {
    box-shadow: none;
  }
  &.ghost {
    border: none;
  }
}
