$colors: (
  "red": #e23731,
  "vermilion": #eb6101,
  "orange": #f08300,
  "yellow": #ffd900,
  "lime": #b8d200,
  "green": #3eb370,
  "teal": #20c0a0,
  "cyan": #43fcf3,
  "skyblue": #00b7ff,
  "blue": #2571ff,
  "indigo": #165e83,
  "purple": #884898,
  "magenta": #ff55a1,
  "pink": #ff5c84,
);

$classes: (
  "black": black,
  "gray-1": darken(white, 8%),
  "gray-2": darken(white, 15%),
  "gray-3": darken(white, 23%),
  "gray-4": darken(white, 31%),
  "gray-5": darken(white, 38%),
  "gray-6": darken(white, 46%),
  "gray-7": darken(white, 54%),
  "gray-8": darken(white, 62%),
  "gray-9": darken(white, 69%),
  "gray-10": darken(white, 77%),
  "gray-11": darken(white, 85%),
  "gray-12": darken(white, 92%),
  "white": white,
  "black-50": rgba(0, 0, 0, 0.5),
  "white-50": rgba(0, 0, 0, 0.5),
  "dark": var(--gray-9),
  "light": var(--gray-1),
  "dimmed": var(--gray-5),
  "success": var(--blue),
  "info": var(--skyblue),
  "danger": var(--red),
  "warn": var(--yellow),
  "success-fg": var(--green-l),
  "info-fg": var(--skyblue-d),
  "danger-fg": var(--red-l),
  "warn-fg": var(--yellow-d),
);

body {
  @each $name, $value in $colors {
    --#{$name}: #{$value};
    --#{$name}-d: #{mix(black, $value, 70%)};
    --#{$name}-l: #{mix(white, $value, 70%)};
  }
  @each $name, $value in $classes {
    --#{$name}: #{$value};
  }
}

@each $name, $value in $colors {
  .text-#{$name} {
    color: var(--#{$name});
  }
  .bg-#{$name} {
    background-color: var(--#{$name});
  }
  .text-#{$name}-d {
    color: var(--#{$name}-d);
  }
  .bg-#{$name}-d {
    background-color: var(--#{$name}-d);
  }
  .text-#{$name}-l {
    color: var(--#{$name}-l);
  }
  .bg-#{$name}-l {
    background-color: var(--#{$name}-l);
  }
}

@each $name, $value in $classes {
  .text-#{$name} {
    color: var(--#{$name});
  }
  .bg-#{$name} {
    background-color: var(--#{$name});
  }
}
