.menu {
  section + section,
  .section + .section {
    margin-top: var(--margin);
  }

  h1,
  .header {
    border-bottom: none;
    font-size: 0.7rem;
    color: var(--dimmed);
    margin: 0;
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--fg);
  }

  .item {
    display: block;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    text-align: left;
    border-radius: var(--radius);
    border: 1px solid transparent;
    background-color: transparent;
    color: inherit;

    &:not(.active):not(.disabled):hover {
      border: 1px solid var(--tone-2);
      background-color: var(--tone-1);
    }
    &.active {
      background-color: var(--hover);
      cursor: default;
    }
    &.disabled {
      color: var(--dimmed);
      cursor: default;
    }
  }
}
