body {
  --stack-margin: var(--margin);
}

.vstack {
  display: flex;
  flex-direction: column;
  &:not(.dense) > * + * {
    margin-top: var(--stack-margin);
  }
}

.hstack {
  display: flex;
  flex-direction: row;
  &.wrap {
    flex-wrap: wrap;
  }
  &.fill > * {
    width: 100%;
  }
  &:not(.dense) > * + * {
    margin-left: var(--stack-margin);
  }
}
