:root {
  --stack-margin: var(--margin);
}

._vstack {
  display: flex;
  flex-direction: column;
  &:not(.dense) > * + * {
    margin-top: var(--stack-margin);
  }
}

._hstack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &:not(.dense) > * + * {
    margin-left: var(--stack-margin);
  }
}
