@use "sass:list";

body {
  --code-fg: #8b3a41;
  --code-bg: #ffe4e6;

  &.dark {
    --code-fg: #ff5362;
    --code-bg: #573535;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

$headingSize: 2rem, 1.6rem, 1.4rem, 1.3rem, 1.2rem, 1.1rem;

@for $i from 1 through 6 {
  $s: list.nth($headingSize, $i);
  h#{$i} {
    font-size: $s;
    font-weight: 200;
    &.display {
      font-size: #{$s * 2};
    }
  }
}

p {
  margin-left: 1rem;
}

a {
  color: var(--skyblue);
}

code {
  font-size: 0.85rem;
  padding: 2px;
  border-radius: 4px;
  background-color: var(--code-bg);
  color: var(--code-fg);
}

pre {
  > code {
    display: block;
    width: 100%;
    padding: var(--margin);
    background-color: var(--tone-1);
    color: var(--tone-12);
    @include dark {
      background-color: var(--tone-2);
    }
  }
}
