h1 {
    width: 100%;
    border-bottom: 3px solid var(--x-color-gray-2);
}

h2 {
    border-bottom: 2px solid var(--x-color-gray-1);
}

p {
    margin-left: 1rem;
}

a {
    color: var(--x-color-skyblue);
}