:root {
  --clickable-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  --clickable-hover-transform: scale(1.05);
  --clickable-active-transform: scale(0.95) translateY(2px);
}

@mixin clickable($isText: false) {
  transition: transform 0.2s ease;
  transform-origin: center center;
  transform-style: preserve-3d;
  cursor: pointer;

  &:hover {
    transform: var(--clickable-hover-transform);
  }
  &:active {
    transform: var(--clickable-active-transform);
  }
  &:hover,
  &:active {
    z-index: 9999;
  }
}

._clickable {
  @include clickable();

  &.text {
    @include clickable(true);
  }
}

@mixin dark {
  ._dark & {
    @content;
  }
}

._fluid {
  width: 100%;
}

.ma-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.pa-auto {
  padding: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}
.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

@for $v from -5 through 5 {
  $size: $v * 8px;
  .ma-#{$v} {
    margin: $size;
  }
  .ml-#{$v} {
    margin-left: $size;
  }
  .mr-#{$v} {
    margin-right: $size;
  }
  .mt-#{$v} {
    margin-top: $size;
  }
  .mb-#{$v} {
    margin-bottom: $size;
  }
  .mx-#{$v} {
    margin-left: $size;
    margin-right: $size;
  }
  .my-#{$v} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .pa-#{$v} {
    padding: $size;
  }
  .pl-#{$v} {
    padding-left: $size;
  }
  .pr-#{$v} {
    padding-right: $size;
  }
  .pt-#{$v} {
    padding-top: $size;
  }
  .pb-#{$v} {
    padding-bottom: $size;
  }
  .px-#{$v} {
    padding-left: $size;
    padding-right: $size;
  }
  .py-#{$v} {
    padding-top: $size;
    padding-bottom: $size;
  }
}
