:root {
  --clickable-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  --clickable-hover-transform: scale(1.05);
  --clickable-active-transform: scale(0.95) translateY(2px);
}

@mixin clickable($isText: false) {
  transition: transform 0.2s ease;
  transform-origin: center center;
  transform-style: preserve-3d;
  cursor: pointer;

  &:hover {
    transform: var(--clickable-hover-transform);
  }
  &:active {
    transform: var(--clickable-active-transform);
  }
  &:hover,
  &:active {
    z-index: 9999;
  }
}

._clickable {
  @include clickable();

  &.text {
    @include clickable(true);
  }
}

@mixin dark {
  ._dark & {
    @content;
  }
}

._fluid {
  width: 100%;
}
