$margin-level-unit: 8px;
$fixed-level-unit: $margin-level-unit;

$colors: (
  "red": #e23731,
  "vermilion": #eb6101,
  "orange": #f08300,
  "yellow": #ffd900,
  "lime": #b8d200,
  "green": #3eb370,
  "teal": #20c0a0,
  "cyan": #43fcf3,
  "skyblue": #00b7ff,
  "blue": #2571ff,
  "indigo": #165e83,
  "purple": #884898,
  "magenta": #ff55a1,
  "pink": #ff5c84,
);

$tones: (
  "black": black,
  "gray-1": darken(white, 8%),
  "gray-2": darken(white, 15%),
  "gray-3": darken(white, 23%),
  "gray-4": darken(white, 31%),
  "gray-5": darken(white, 38%),
  "gray-6": darken(white, 46%),
  "gray-7": darken(white, 54%),
  "gray-8": darken(white, 62%),
  "gray-9": darken(white, 69%),
  "gray-10": darken(white, 77%),
  "gray-11": darken(white, 85%),
  "gray-12": darken(white, 92%),
  "white": white,
  "black-50": rgba(0, 0, 0, 0.5),
  "white-50": rgba(0, 0, 0, 0.5),
  "dark": var(--gray-9),
  "light": var(--gray-1),
  "dimmed": var(--gray-5),
  "success-fg": var(--white),
  "primary-fg": var(--white),
  "info-fg": var(--black),
  "danger-fg": var(--white),
  "warn-fg": var(--black),
);

$classes: (
  "primary": var(--blue),
  "success": var(--green),
  "info": var(--skyblue),
  "danger": var(--red),
  "warn": var(--yellow),
);
