extends ../_layout

block main
  h1 ボタン
  p ボタンは、ユーザーが押すことで何か処理を行うときに使用する要素です。用途に応じて、いくつかのパターンを用意しています。

  h2 クラスと要素
  table.table
    thead: tr
      th クラス名
      th 説明
    tbody
      tr: td: code .btn
        td ボタンにスタイルを適用する場合は必ずこのクラスを適用してください
      tr: td: code .primary
        td primary カラーにします
      tr: td: code .success
        td success カラーにします
      tr: td: code .info
        td info カラーにします
      tr: td: code .warn
        td warn カラーにします
      tr: td: code .danger
        td danger カラーにします
      tr: td: code disabled
        td この属性を指定すると、ボタンがグレーアウトし押せなくなります

  .vstack
    section
    section
      h2 例
      .hstack
        button.btn 通常
        button.btn.primary プライマリー
        button.btn.success 成功
        button.btn.info 情報
        button.btn.warn 警告
        button.btn.danger 危険
        button.btn(disabled) 無効
