extends ../_layout

block main
  h1 ボタン <code>.btn</code>
  p ボタンは、ユーザーが押すことで何か処理を行うときに使用する要素です。用途に応じて、いくつかのパターンを用意しています。

  h2 クラスと要素
  table.table
    thead: tr
      th クラス名
      th 説明
    tbody
      tr: td: code .btn
        td ボタンにスタイルを適用する場合は必ずこのクラスを適用してください
      tr: td: code .primary
        td primary カラーにします
      tr: td: code .success
        td success カラーにします
      tr: td: code .info
        td info カラーにします
      tr: td: code .warn
        td warn カラーにします
      tr: td: code .danger
        td danger カラーにします
      tr: td: code disabled
        td この属性を指定すると、ボタンがグレーアウトし押せなくなります

  .vstack
    section
      h2 例
      .row(style="max-width: 800px")
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn Normal
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn.primary Primary
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn.success Success
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn.info Info
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn.warn Warning
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn.danger Danger
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn.flat Flat
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn.link Link
        .col-6.tab-3.pc-2.pa-1: button.fluid.btn(disabled) Disabled
