extends ../_layout

block head
  style.

block main
  h1 メニュー
  p メニューは、ナビゲーションや項目選択など幅広く用いられるコンポーネントです。
  h2 例
  .menu
    h1 メニューヘッダー
    ul
      li.item 項目
      li.item 項目
      li.item.disabled 無効化
      li.item.disabled 無効化
      li.item.active 選択中
  pre.language-html: code
    :escape-html:pug(pretty=true)
      .menu
        h1 メニューヘッダー
        ul
          li.item 項目
          li.item 項目
          li.item.disabled 無効化
          li.item.disabled 無効化
          li.item.active 選択中
